RewriteEngine on
RewriteRule ^api/readAllClient$ voyages/readAllClient.php [L]
RewriteRule ^api/readAllClient/$ voyages/readAllClient.php [L]
RewriteRule ^api/readClient$ voyages/readClient.php [L]
RewriteRule ^api/readClient/$ voyages/readClient.php [L]
RewriteRule ^api/readClient/([0-9]+)$ voyages/readClient.php?clientID=$1 [L]
RewriteRule ^api/readClient/([0-9]+)/$ voyages/readClient.php?clientID=$1 [L]
RewriteRule ^api/createClient$ voyages/createClient.php [L]
RewriteRule ^api/createClient/$ voyages/createClient.php [L]
RewriteRule ^api/updateClient$ voyages/updateClient.php [L]
RewriteRule ^api/updateClient/$ voyages/updateClient.php [L]
RewriteRule ^api/deleteClient$ voyages/deleteClient.php [L]
RewriteRule ^api/deleteClient/$ voyages/deleteClient.php [L]

RewriteRule ^api/createVoyage$ voyages/createVoyage.php [L]
RewriteRule ^api/createVoyage/$ voyages/createVoyage.php [L]
RewriteRule ^api/readVoyage$ voyages/readVoyage.php [L]
RewriteRule ^api/readVoyage/$ voyages/readVoyage.php [L]
RewriteRule ^api/readVoyage/([0-9]+)$ voyages/readVoyage.php?voyageID=$1 [L]
RewriteRule ^api/readVoyage/([0-9]+)/$ voyages/readVoyage.php?voyageID=$1 [L]
RewriteRule ^api/readAllVoyage$ voyages/readAllVoyage.php [L]
RewriteRule ^api/readAllVoyage/$ voyages/readAllVoyage.php [L]
RewriteRule ^api/updateVoyage$ voyages/updateVoyage.php [L]
RewriteRule ^api/updateVoyage/$ voyages/updateVoyage.php [L]
RewriteRule ^api/deleteVoyage$ voyages/deleteVoyage.php [L]
RewriteRule ^api/deleteVoyage/$ voyages/deleteVoyage.php [L]

RewriteRule ^api/createAvis$ voyages/createAvis.php [L]
RewriteRule ^api/createAvis/$ voyages/createAvis.php [L]
RewriteRule ^api/readAvis$ voyages/readAvis.php [L]
RewriteRule ^api/readAvis/$ voyages/readAvis.php [L]
RewriteRule ^api/readAvis/([0-9]+)$ voyages/readAvis.php?avisID=$1 [L]
RewriteRule ^api/readAvis/([0-9]+)/$ voyages/readAvis.php?avisID=$1 [L]
RewriteRule ^api/readAllAvis$ voyages/readAllAvis.php [L]
RewriteRule ^api/readAllAvis/$ voyages/readAllAvis.php [L]
RewriteRule ^api/updateAvis$ voyages/updateAvis.php [L]
RewriteRule ^api/updateAvis/$ voyages/updateAvis.php [L]
RewriteRule ^api/deleteAvis$ voyages/deleteAvis.php [L]
RewriteRule ^api/deleteAvis/$ voyages/deleteAvis.php [L]
